@keyframes up {
  to {
    transform: translateY(0.4rem);
  }
}

.dot-loading .dot {
  animation: up infinite alternate 400ms;
}

.dot-loading .dot:nth-child(1) {
  animation-delay: 0.2s;
}

.dot-loading .dot:nth-child(2) {
  animation-delay: 0.4s;
}

@keyframes shooting-star {
  100% {
    transform: translateX(100px);
    opacity: 0;
    width: 15px;
  }
}

.shooting-star {
  height: 4px;
  width: 40px;
  border-radius: 2px;
  background: linear-gradient(45deg, rgba(0, 0, 0, 0), white);
  opacity: 0.8;
  animation: shooting-star infinite 2s ease-out;
  transform-origin: 0;
}

.star-2 {
  animation-delay: 1s;
}

.star-3 {
  animation-delay: 700ms;
}

.add-item-container {
  background: url(https://picsum.photos/320/180.jpg);
  background-size: cover;
}

.add-item-container .overlay {
  transition: all 300ms ease-in-out;
  background-color: rgba(0, 0, 0, 0);
}

.add-item-container:hover .overlay {
  background-color: rgba(0, 0, 0, 0.5);
}

.add-item-container .plus {
  transition: all 400ms ease-in-out;
  opacity: 0;
  transform: scale(1.2);
}

.add-item-container:hover .plus {
  opacity: 1;
  transform: scale(0.8);
}

@keyframes pacman-mouth-top {
  to {
    transform: rotate(-20deg);
  }
}

@keyframes pacman-mouth-bottom {
  to {
    transform: rotate(20deg);
  }
}

@keyframes pacman-food {
  from {
    left: 100%;
  }

  to {
    left: 0;
  }
}

.pacman .mouth-top {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  transform-origin: center bottom;
  animation: pacman-mouth-top infinite 300ms alternate;
}

.pacman .mouth-bottom {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  transform-origin: center top;
  animation: pacman-mouth-bottom infinite 300ms alternate;
}

.pacman .food {
  animation: pacman-food infinite 1s;
}
