@keyframes up {
  to {
    transform: translateY(0.4rem);
  }
}

.dot-loading .dot {
  animation: up infinite alternate 400ms;
}

.dot-loading .dot:nth-child(1) {
  animation-delay: 0.2s;
}

.dot-loading .dot:nth-child(2) {
  animation-delay: 0.4s;
}

.flip {
  transform: rotateX(179deg);
}
